.btnColor{
    background-color: #0e1c36;
    color: #fff;
    
  }
  
  .profileImagePic{
    height: 200px;
    width: 200px;
    object-fit: cover;
  }
  
  
  
  .cardbodyColor{
    background-color: #ebf2fa;
  }