.autocompleteDiv{
    position: relative;
    flex: 1;
}
.autocompleteOptions{
    position: absolute;
    top: 100%;
    left: 0px;
    right: 0px;
    z-index: 10;
    background: white;
    max-height: 50vh;
    overflow: hidden auto;
    box-shadow: 1px 2px 4px rgba(128,128,128,0.5);
}
.autocompleteItem{
    padding: 0.25rem 0.5rem;
    border: 1px solid rgba(128,128,128,0.5);
    cursor: pointer;
}
.autocompleteItem:hover{
    text-decoration: underline;
    text-decoration-color: rgba(128,128,128,0.8);
}